@import "tailwindcss";

@theme {
  --color-bg: #f9fafb;
  --color-primary: #f3f4f6;
  --color-secondary: #155dfc;
  --color-darkg: #eceef2;
  --color-bcolor: #e6e6e6;
}
html {
  scroll-behavior: smooth !important;
}
body {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth !important;
}

.largeGrid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
}

@media (width <= 600px) {
  .largeGrid {
    gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.error {
  color: red;
  text-align: center;
  font-style: italic;
}
